        /* general*/
       
       * {box-sizing: border-box; }

       body {margin: 0; padding: 0;}

        h1, h2, h3, h4, h5, p {
               font-family: 'Nexa', sans-serif;
               font-weight: normal;
        }

        @font-face {
               font-family: 'Nexa';
               src: url('../fonts/NexaBold.eot');
               src: url('../fonts/NexaBold.eot') format('embedded-opentype'),
               url('../fonts/NexaBold.woff') format('woff'),
               url('../fonts/NexaBold.ttf') format('truetype');
               font-weight: bold;
               font-style: normal;
        }

        @font-face {
               font-family: 'Nexa';
               src: url('../fonts/NexaLight.eot');
               src: url('../fonts/NexaLight.eot') format('embedded-opentype'),
               url('../fonts/NexaLight.woff') format('woff'),
               url('../fonts/NexaLight.ttf') format('truetype');
               font-weight: 300;
               font-style: normal;
        }
        .container {
            display: grid;
            grid-template-areas:
                    "header header header"
                    "slider slider slider"
                    "nav content side"
                    "footer footer footer";
            grid-template-columns: 10% 80% 10%;
            grid-template-rows: auto 1fr auto;
            grid-gap: 10px;
            height: 100vh;
        }

         /* menu superior*/
         .superior{
         display: flex;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 30px;
         background-color:#E8E8E8;
         flex-direction: row;
         justify-content: flex-end;
         padding: 25px;
         font-weight: 600;}

        .superior i {
         color: white;
         margin-right: 10px;}

         .superior span{
         font-family: 'Nexa',sans-serif;
         font-size: 12px;
         padding: 10px 10px 0 0;
         }


         /* header*/
        header {
            grid-area: header;}

        .header{
            background-color: white;
            /*Flex*/
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            }
        .logo{
            width: 280px;
            height: auto;
            margin: 50px 0 20px 30px;}

         .links ul{
             display: flex;
             flex-direction: row;
             justify-content: space-around;
             padding: 70px 10px 0 0;
             flex-wrap: wrap;
             margin-right: 75px;

         }

         .links li.dropdown{
          padding-right: 8px;
         }
          
         .links ul li a{
         color: gray;
         text-decoration: none;
         margin-left: 25px;
         font-family: 'Nexa', sans-serif;
         font-size: 12px;
         font-weight: 600;
         }

         .links ul li a:hover{
         color:#EF7521;
         }

        /*Active dropdown nav item*/
        .links ul li:hover > a{
        }
        /* Dropdown CSS */
        .links ul li {position: relative;}

        .links ul li ul {
          position: absolute;
          background-color: lightgray;
          min-width: 100%;
          padding: 10px;
          text-align: center;
          z-index: 99;
          display: none;
        }
        .links ul li ul li {
          display: block;
          border: 1px solid gray;
        }

        /* Dropdown CSS */
        .links ul li ul ul {
          left: 100%;
          top:0;
          margin: 0 auto;
        }

        /* Active on Hover */
        .links li:hover > ul {
          display: block;
          margin: 0 0 0 20px;
        }


        /* Arrow  */
        .caret {
          height: 0;
          position: absolute;
          right: -5px;
          top: 50%;
          width: 0;

        }
        .caret-down {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid gray;
        }


         /* Slider*/
        .slider{
            grid-area: slider;
        }
        *, *::after, *::before {
          box-sizing: border-box;
        }


          ul, ol {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }

          .full-width-slider {
            position: relative;
            height: 600px;
            overflow: hidden;
          }

          .slides {
            position: relative;
            height: 100%;
            background-color: #EF7521;
          }

          .slides li {
            display: table;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.5s;
            background: url(../img/home_0.jpg) no-repeat center center;
            background-size: cover;
          }

          .slides li:nth-of-type(2) {
            background: url(../img/salon_4.jpg) no-repeat center center;
            background-size: cover;
          }

          .slides li:nth-of-type(3) {
            background: url(../img/home2.jpg) no-repeat center center;
            background-size: cover;
          }

          .slides li:nth-of-type(4) {
            background: url(../img/lamparas.jpg) no-repeat center center;
            background-size: cover;
          }

          .slides li:nth-of-type(5) {
            background: url(../img/salon_2.jpg) no-repeat center center;
            background-size: cover;
          }

          .slides li:nth-of-type(6) {
            background: url(../img/mesa_alta.jpg) no-repeat center center;
            background-size: cover;
          }

          .slides li:nth-of-type(7) {
            background: url(../img/mesa_4.jpg) no-repeat center center;
            background-size: cover;
          }
          .slides li:nth-of-type(8) {
            background: url(../img/charla_2.jpg) no-repeat center center;
            background-size: cover;
          }


          .slides li.selected {
            z-index: 2;
            transform: translateX(0);
          }

          .slides li.selected div h2{
            font-size: 70px;
            color: white;
            z-index: 2;
            transform: translateX(0);
          }

          .slides li.move-left {
            transform: translateX(-100%);
          }

          .slides li.visible {
            z-index: 2;
          }

          .slides li > div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #FFF;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }

          .slides h2 {
            margin-top: 0;
          }
          .slider-navigation a {
            position: absolute;
            z-index: 3;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            height: 48px;
            width: 48px;
            color: #fff;
            text-decoration: none;
            font-weight: 100;
            opacity: 0.5;
            transition: opacity 0.3s, visibility 0.3s;
          }
          .slider-navigation a:hover {
            opacity: 1;
          }
          @media (max-width: 500px) {
            .slider-navigation a {
              display: none;
            }
          }

          .slider-navigation a.next {
            left: auto;
            right: 10px;
          }

          .slider-dots-navigation {
            position: absolute;
            z-index: 3;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
          }
          @media (max-width: 500px) {
            .slider-dots-navigation {
              display: none;
            }
          }

          .slider-dots-navigation li {
            display: inline-block;
            float: left;
            margin-right: 15px;
          }
          .slider-dots-navigation li:last-of-type {
            margin-right: 0;
          }

          .slider-dots-navigation a {
            display: block;
            height: 14px;
            width: 14px;
            border: 1px solid #FFF;
            border-radius: 50%;
            overflow: hidden;
            white-space: nowrap;
            text-indent: 100%;
            color: transparent;
            transition: background-color 0.3s;
          }

          .slider-dots-navigation a:hover,
          .slider-dots-navigation a.selected {
            background-color: #FFF;
          }

 

        /* Nav */
        nav {
            grid-area: nav;
        }
        
        /* Main */
        main {
            grid-area: content;
        }
        main p{
         font-size: 25px;
         font-family: 'Nexa', sans-serif;
         font-weight: 300; 
         line-height: 30px;
         text-align:justify;  
         text-justify:distribute;
         }

         main p.quienes{
         font-size: 18px;
         font-family: 'Nexa', sans-serif;
         font-weight: 500; 
         line-height: 26px;
         text-align:justify; 
         text-justify:distribute;
         }

         main a {
          text-decoration: none;
          color: black;
          font-family: 'Nexa', sans-serif;
          font-weight: 600;
         }

        main h1{font-family: 'Nexa', sans-serif;
         font-size: 50px;
         text-align: center;
         color:#EF7521; }

        main h2{
          font-family: 'Nexa', sans-serif;
          font-weight: 300;
          line-height: 32px;
          text-align:justify;  
          text-justify:distribute;
          font-size: 28px;
          padding: 50px;
        }

        #video{
            display: flex;
            width: 70%;
            margin: 50px auto;
        }
         
         /* Servicios */
        .servicios{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0 auto;
        }

        .servicios h2{
         font-size: 30px;
         color:#EF7521;
         padding: 0;
            background-color: gray;
        }
        .servicios h3{
            font-size: 30px;
            color:#EF7521;
            padding: 0;
        }

        .servicios p{
          font-size: 20px;
          text-align: left;
          color: black;
        }
        .otros{
            width: 100%;
            font-family: 'Nexa', sans-serif;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            padding: 40px;
            line-height: 14px;
        }
        .otros h3{
            color:#EF7521;
            font-size: 24px;
            font-weight: 600;
        }
        .otros span{
            font-size: 17px;
            font-weight: 600;
        }

        /* Tarifas */
        h1 > span {
          font-size: 0.7em;
          color: black;
          font-weight: 500;
        }

        h5 {
          opacity: 1;
          font-size: 1.6em;
          margin: 0;
          text-align: left;
        }

        p span {
          font-size: 1em;
        }

        hr.tarifas {
          border: 1px solid rgba(0,0,0,0.05);
        }

        #content {
          width: 80%;
          margin: 0 auto;
        }

        .main-header {
          margin: 40px 0;
        }

        /*----  CARDS  ---*/

        .card {
          position: relative;
          background-color: lightgray;
          box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
          border-radius: 3px;
          width: 31%;
          float: left;
          font-size: 18px;
          margin-right: 3%;
          margin-bottom: 40px;

          z-index: 10;

          transition: all 300ms ease-out;
        }

        .card:hover {
          transform: scale(1.03);
          box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
        }

        .card-content > h1{
          font-size: 1.4em;
            color: black;
        }
        .card-content {
          padding: 30px;
        }
        .card.special .card-content {
          padding-top: 0;
        }

        .card-header {
          margin-bottom: 8px;
          background-color: #444444;
          padding: 8px;
          border-radius: 3px 3px 0 0
        }

        .card-header2 {
            margin-bottom: 8px;
            background-color: #6BC7E5;
            padding: 8px;
            border-radius: 3px 3px 0 0
        }

        .card-header3 {
            margin-bottom: 8px;
            background-color: #E96D6D;
            padding: 8px;
            border-radius: 3px 3px 0 0
        }
        .card-header > p {
          color: #FFF;
          margin: 0;
          font-size: 0.7em;
          font-weight: bold;
        }

        .card-info > p {
          text-align: left;
          font-size: 0.9em;
          font-weight: 600;
        }

        .card:last-child {
          margin-right: 0;
        }

        /*----------------*/
        /*SPECIAL COLORING*/
        /*----------------*/

        .card:nth-child(3) .card-info span {
          color: #E96D6D;
        }

        .card:nth-child(3) button {
          background-color: #E96D6D;
          box-shadow: 0px 3px 0px 0px #C75D5D;
        }

        .card:nth-child(2) .card-info span {
          color: #6BC7E5;
        }

        .card:nth-child(2) button {
          background-color: #6BC7E5;
          box-shadow: 0px 3px 0px 0px #5DADC7;
        }

        .card:nth-child(1) .card-info span {
          color: #000000;
        }

        .card:nth-child(1) button {
          background-color: #444444;
          box-shadow: 0px 3px 0px 0px #000000;
        }

        /*----------------*/
        /*---  BUTTON  --*/
        /*----------------*/

        button {
          width: 100%;
          margin-top: 10px;
          border-radius: 5px;
          border: none;
          outline: none;
          font-family: 'Nexa', sans-serif;
          color: white;
          font-size: 1em;
          cursor: pointer;
        }
        /*----------------*/
        /*-- RESPONSIVE  -*/
        /*----------------*/
        @media (max-width: 900px){
          .card {
            width: 100%;
          }
          .card-content h5{
              line-height: normal;
          }
          .card-content h1{
             line-height: normal;
          }
        }

        /* Servicios animación */
        .snip1323 {
          position: relative;
          float: left;
          overflow: hidden;
          margin: 10px;
          width: 315px;
          height: 229px;
          color: gray;
          text-align: center;
        }
        .snip1323 p{
          text-align: center;

        }
        .snip1323 * {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.35s 0.5s ease;
          transition: all 0.35s 0.5s ease;
        }
        .snip1323 img {
          margin: 0 auto;
        }
        .snip1323 figcaption {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .snip1323 h2 {
          position: absolute;
          margin: 0;
          width: 100%;
          left: 0.5%;
          top: 52%;
          opacity: 0;
          font-weight: 300;
          text-transform: uppercase;
        }

        .snip1323 .icons {
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          opacity: 0;
        }
        .snip1323 i {
          padding: 10px 5px;
          display: inline-block;
          font-size: 24px;
          color: #ffffff;
          text-align: center;
          opacity: 0.7;
        }
        .snip1323 i:hover {
          opacity: 1;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
        }
        .snip1323:before {
          position: absolute;
          bottom: 0;
          right: 100%;
          top: 0;
          left: 0;
          content: '';
          background-color: gray;
          z-index: 1;
          opacity: 1;
          -webkit-transition: all 0.35s 0.3s ease-in;
          transition: all 0.35s 0.3s ease-in;
        }
        .snip1323:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 100%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-0%);
          width: auto;
          height: 0;
          border-style: solid;
          border-width: 200px 200px 200px 0;
          border-color: transparent #EF7521 transparent transparent;
          opacity: 0.5;
          -webkit-transition: all 0.35s 0s ease-out;
          transition: all 0.35s 0s ease-out;
        }
        .snip1323:hover img,
        .snip1323.hover img {
          opacity: 1;
        }
        .snip1323:hover h2,
        .snip1323.hover h2,
        .snip1323:hover .icons,
        .snip1323.hover .icons {
          opacity: 1;
        }
        .snip1323:hover h2,
        .snip1323.hover h2 {
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
        .snip1323:hover:before,
        .snip1323.hover:before {
          right: 0;
          -webkit-transition: all 0.35s 0s ease-out;
          transition: all 0.35s 0s ease-out;
        }
        .snip1323:hover:after,
        .snip1323.hover:after {
          left: 50%;
          -webkit-transition: all 0.35s 0.2s ease-in;
          transition: all 0.35s 0.2s ease-in;
        }

        /* Mapa */
        .embed-container {
          position: relative;
          padding-bottom: 80.25%;
          height: auto;
          overflow: hidden;
          max-width: 100%;

        }
        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
          position: absolute;
          filter: orange;
          top: 5%;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        }

        /* Aside*/
        aside {
            grid-area: side;}
        
        /* Footer */
        footer {
            grid-area: footer;
            height: 250px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            background-color:#E1E4E4;
        }
        footer .logo{
          flex-basis: 20%;
        }
        footer .logo img{
          width: 250px; 
          height: auto;
        }
        footer .col1{
          padding: 60px 0 0 50px;
          flex-basis: 20%;
          font-family: 'Nexa', sans-serif;
          font-size: 18px;
          line-height: 22px;
        }
        footer .col1 a{
          text-decoration: none;
          color: black;
        }
         footer .col2{
          flex-basis: 20%;
          padding: 60px 0 0 50px;
          font-family: 'Nexa', sans-serif;
          font-size: 18px;
          line-height: 22px;
        }
        footer .col2 a{
          text-decoration: none;
        }
        footer .col3{
          flex-basis: 15%;
          text-align: left;
          padding: 150px 0 0 0;
          font-family: 'Nexa', sans-serif;
          font-size: 12px;
          line-height: 22px;
        }
        footer .col3 a{
          text-decoration: none;
          color: black;
        }

          /* Redes */
        .fa.fa{ font-size: 70px;
         color: grey;
         margin-bottom: 20px;}

        .fa.fa-facebook, .fa.fa-linkedin, .fa.fa-twitter{
              color: black;
              font-size: 23px;

          }
        .fa.fa-facebook:hover, .fa.fa-linkedin:hover, .fa.fa-twitter:hover{
              color: #f07622;
              font-size: 23px;
        }
        .fa.fa-check{ color: green; font-size: 25px; }

         .fa.fa-gavel{ color: black; font-size: 25px; }

         .fa.fa-circle{ font-size: 15px; color: #EF7521; }

        /* Formulario Contacto*/

        form {
            padding: 0 10%;
        }
        form section {
            width: calc(50% - 40px);
            padding: 20px;
            background: #8ed294;
            margin: 20px;
            border-radius: 5px;
        }
        form section.left {
            float: left;
        }
        form section.right {
            float: right;
        }
        form section .input-container {
            padding: 10px;
        }
        form section .input-container label {
            display: block;
            margin-bottom: 4px;
            color: white;
            font-size: 16px;
            text-shadow: 0px 2px 1px #65ad6b;
            font-family: 'Quicksand', sans-serif;
        }
        form section .input-container input,
        form section .input-container textarea {
            width: 100%;
            padding: 5px 10px;
            height: 40px;
            border-radius: 5px;
            border: none;
            background: #d7ffdb;
            box-shadow: 0 2px 0px #77bd7d;
            font-family: 'Quicksand', sans-serif;
            font-size: 16px;
            color: #757575;
        }
        form section .input-container input:focus,
        form section .input-container textarea:focus {
            outline: none;
            background: white;
        }
        form section .input-container textarea {
            height: 122px;
            padding: 15px 10px;
            resize: none;
        }
        form .send-container {
            float: right;
            width: 100%;
            text-align: right;
            margin-right: 20px;
        }
        form .send-container input {
            background: #77bd7d;
            border: none;
            color: white;
            padding: 15px 30px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        form .send-container input:hover {
            background: #8ed294;
        }
        form:after {
            content: "";
            display: block;
            clear: both;
        }

        /* prueba imagen*/
        .hiddenimg {
            display: none;
        }

        .hiddentxt {
            text-align: center;
            font-family: 'Nexa',sans-serif;
            font-weight: 600;
            font-size: 15px;
            line-height: 15px;
            align-items: center;
            color: black;
        }

        .hiddentxt a {
            color: black;
            text-align: center;
            font-family: 'Nexa',sans-serif;
            font-weight: 600;
            font-size: 15px;
            line-height: 15px;
            align-items: center;
            text-decoration: none;
        }

        .hiddenclick {
            font-weight: bold;
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .hiddenclick a {
            color: black;
            text-decoration: none;
        }

        .hiddenclick a:visited {
            color: black;;
            text-decoration: none;
        }

        .hiddentxt:hover ~ .hiddenimg {
            display: block;
        }


        /* Media queries */
        @media (max-width: 768px) {
            .container {
                grid-template-areas:
                        "header"
                        "slider"
                        "nav"
                        "content"
                        "side"
                        "footer";

                grid-template-columns: 1fr;
                grid-template-rows:
                        auto /* Header */
                        1fr /* Slider */
                        minmax(0, auto) /* Nav */
                        1fr /* Content */
                        minmax(0, auto) /* Sidebar */
                        auto; /* Footer */

            }

            nav, aside {
                margin: 0;
            }
            
            main{
              padding: 20px;
              line-height: 10px;
            }
            main h2 {
              text-align: left;
              padding: 15px;
              margin: 0;
              font-size: 20px;
              line-height: auto;
            }
            main p{
              font-size: 17px;
            }
            main p img{
                width: 25%;
                align-self: center;

            }
            main h1{
              font-size: 26px;
              font-weight: 500;
              text-align: left;
            }
            main h1 span a{
                display: block;
                text-align: left;
                padding: 20px;
            }
            main .otros img{
                width: 70%;
            }
            main #form-div{
                padding: 0;
                margin: 0 auto;
            }
            main #form-main{
                width: 100%;
                margin: 0 auto;
            }
            .fa.fa-circle{
                font-size: 7px;
            }
            .logo{
             width: 75%;
             height:auto;
             padding-top: 45px;
             margin: 0;
            }
            .header{
              width: 100%;
              flex-direction: column;
            }
            .links ul{
                margin: 0;
                padding: 0;
            }
            .links ul li{ 
            width: 100%;
            height: 15px;
            text-align: center;
            padding: 25px; 
            margin: 0;
            border-bottom:solid 1px orange;
            }
           .links ul li:hover{
            background-color: orange;
            }
            .links ul li a:hover{
            color: white;
            }
            .links ul li ul {
            margin: 0 auto;
            padding: 0;
            }
            footer{
            width: 100%;
            height: auto;
            flex-direction: column;
            margin: 0;
            padding: 20px;
            }
            footer .col1, footer .col2,
            footer .logo{
            align-self: center;
            padding: 0;
            text-align: center;
            padding-bottom: 25px;
            }
            .slides li.selected div h2{
              font-size: 30px;
            }
        }